:root {
    --image-title-color: white;
    --nav-bg-color: #282c34;
    --nav-item-bg-color: #282c34;
    --nav-item-text-color: white;
    --nav-item-bg-color-hover: #374151;
    --nav-item-text-color-hover: white;
    --nav-item-bg-color-active: #374151;
    --nav-item-text-color-active: white;
    --theme-selection-label-color: white;
    --theme-background: #282c34;
}

.navbar-theme {
    background-color: var(--nav-bg-color);
}