:root {
    --nav-item-text-color: black;
    --nav-item-bg-color: #eee;
    --nav-item-text-color-hover: white;
    --nav-item-bg-color-hover: black;
    --nav-item-text-color-active: white;
    --nav-item-bg-color-active: black;
    --theme-selection-label-color: black;
    --theme-background: white;
}

.navbar-theme {
    background-color: rgba(255, 255, 255, 0.7);
}